
$primary-100: #2c3e50;
$primary-200: #57687c;
$primary-300: #b4c7dd;
$accent-100: #f7cac9;
$accent-200: #926b6a;
$text-100: #333333;
$text-200: #5c5c5c;
$bg-100: #f2f2f2;
$bg-200: #e8e8e8;
$bg-300: #bfbfbf;
