:root {
    --primary-100: #2c3e50;
    --primary-200: #57687c;
    --primary-300: #b4c7dd;
    --accent-100: #f7cac9;
    --accent-200: #926b6a;
    --text-100: #333333;
    --text-200: #5c5c5c;
    --bg-100: #f2f2f2;
    --bg-200: #e8e8e8;
    --bg-300: #bfbfbf;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-100);
    color: var(--text-100);
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.modal {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal form {
    margin: auto;
    margin-top: 20vh;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

header h1 {
    text-align: center;
    padding: 1rem;
}

header h5 {
    text-align: center;
}

header {
    background-color: var(--primary-100);
    color: var(--bg-100);
}

.wrapper {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(5rem, 1fr));
    padding: 1rem;
    gap: 0.5rem;
}

footer {
    background-color: var(--primary-200);
    padding: 1rem;
    text-align: center;
    color: var(--bg-200);
}

.open {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    font-size: 2rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.modal form {
    background-color: var(--bg-200);
    padding: 1rem;
    border-radius: 1rem;
    text-align: center;
    position: relative;
}

.modal input,
.modal textarea,
.add-button {
    padding: 0.3rem;
    border: 1px solid var(--primary-200);
    border-radius: 0.3rem;
}

.add-button {
    background-color: var(--primary-200);
    color: var(--bg-200);
}

.close {
    position: absolute;
    top: -2rem;
    right: -2rem;
    font-size: 0.8rem;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}


.ad {
    background-color: var(--primary-300);
    text-align: center;
    padding: 0.3rem;
    box-shadow: 0, 0 5px rgba(0, 0, 0, 0.5);
    border: 1px solid var(--primary-100);
    border-radius: 0.3rem;
    height: fit-content;
}

.ad img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: center;
}

#image {
    display: none;
}

.upload {
    background-color: var(--accent-100);
    padding: 0.3rem;
    border: 1px solid var(--primary-100);
    width: 100%;
    border-radius: 0.3rem;
}